<mat-card>
    <mat-card-content>

<div  style="width:100%;">
  <div class="row">
      <div class="col">
          Route List <br>
        </div>
    <div class="col-sm-8">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]=15 (mapClick)="getCoords($event)">
        <agm-marker [latitude]="latitude" [longitude]="longitude" ></agm-marker>
      </agm-map>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
            <label>Index:</label>
            <input type="number" class="form-control" id="index">
            <label>Stop Name:</label>
            <input type="text"  class="form-control" id="name">
          <label>Latitide:</label>
          <input type="text" value={{latitude}} class="form-control" id="lat">
          <label>Longitude:</label>
          <input type="text" value={{longitude}} class="form-control" id="lng">
        </div>
        <button type="submit" (click)="addStop()" class="btn btn-primary">Add Stop</button>
      </form>
    </div>
  </div>
</div>

</mat-card-content>
</mat-card>






<!-- <mat-card-title>Route of Bus No: {{bus_no}}</mat-card-title> -->
<!---->
<!-- <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserName</th>
        <th scope="col">Name</th>
        <th scope="col">Dept</th>
        <th scope="col">Course</th>
        <th scope="col">Semester</th>
        <th scope="col">Phone No</th>
        <th scope="col">Stop_id</th>
        <th scope="col">Type of passenger</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let passenger of (passengers | filter : 'name' : searchText); let i=index">
        <!-- <tr *ngFor="let passenger of (users | filter: ['name','dept_id'] : searchText); let i=index"> -->
        <!-- <th scope="row">{{i}}</th>
        <td>{{ passenger.username }}</td>
        <td>{{ passenger.name | uppercase }}</td>
        <td>{{ passenger.dept_code }}</td>
        <td>{{ passenger.course_code }}</td>
        <td>{{ passenger.semester_level }}</td>
        <td>{{ passenger.cell_no }}</td>
        <td>{{ passenger.stop.name }}</td>
        <td>{{ passenger.level }}</td>
        <td><button class="pr-2" title="Edit"><img src="../../assets/imgs/trashed.svg"> </button>
          <button type="button" data-toggle="modal" title="Delete record" data-target="#exampleModal"><img src="../../assets/imgs/outline-restore_from_trash-24px.svg">
          </button>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserName</th>
        <th scope="col">Name</th>
        <th scope="col">Dept</th>
        <th scope="col">Course</th>
        <th scope="col">Semester</th>
        <th scope="col">Phone No</th>
        <th scope="col">Stop_id</th>
        <th scope="col">Type of passenger</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
  </table>
</div> --> 