<!-- <mat-card-title>Route of Bus No: {{bus_no}}</mat-card-title> -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let latlng of latLngs,stops let i=index">
        <th scope="row">{{i}}</th>
        <td>{{ stop }}</td>
        <td>{{ latlng[0] }}</td>
        <td>{{ latlng[1] }}</td>
        <td><button class="pr-2" title="Edit"><img src="../../assets/imgs/trashed.svg"> </button>
          <button type="button" data-toggle="modal" title="Delete record" data-target="#exampleModal"><img src="../../assets/imgs/outline-restore_from_trash-24px.svg">
          </button>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Stop Name</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
  </table>
</div>