<mat-card>
  <mat-card-content>

    <div>
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">StopName</th>
                  <th scope="col">Latitude</th>
                  <th scope="col">Longitude</th>
                </tr>
              </thead>
              <tbody *ngFor="let stop of stops; let i=index">
                <tr>
                  <!-- <th scope="row"></th> -->
                  <td>{{i}}</td>
                  <td>{{stop.name}}</td>
                  <td>{{stop.lat}}</td>
                  <td>{{stop.lng}}</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">StopName</th>
                  <th scope="col">Latitide</th>
                  <th scope="col">Longitude</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="col-sm-4">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]=15 (mapClick)="getCoords($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
        </div>
        <div class="col">
          <form>
            <div class="form-group">
              <label>Index:</label>
              <input type="number" class="form-control" id="index">
              <label>Stop Name:</label>
              <input type="text" class="form-control" id="name">
              <label>Latitide:</label>
              <input type="text" value={{latitude}} class="form-control" id="lat">
              <label>Longitude:</label>
              <input type="text" value={{longitude}} class="form-control" id="lng">
            </div>
            <button type="submit" (click)="addStop()" class="btn btn-primary">Add Stop</button>
            <button type="submit" class="align-right" (click)="editStop()" class="btn btn-primary">Edit Stop</button>
            <button type="submit" class="align-right" (click)="editStop()" class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>