<div class="row">
  <div class="col-md-10 mt-2" style=" overflow-y:scroll;
    height: 590px;">
    <div class="card p-5  h-auto w-100">
      <h2 class="h2 large text-dark text-center font-weight-normal">{{heading}}</h2>
      <hr>
      <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm)" class="pull-left" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name" class="pull-left medium">name for the article.</label>
          <input type="text" formControlName="name" class="form-control" name="name" id="name" i18n-placeholder
            placeholder="Write the name for you article here.">
        </div>
        <div class="errorBox w-100" *ngIf="userForm.controls['name'].hasError('required') && userForm.controls['name'].touched">
          *name is required.
        </div>
        <div class="errorBox w-100" *ngIf="userForm.controls['name'].hasError('minlength') && userForm.controls['name'].touched">
          *Length must be more than 20.
        </div>
        <div class="form-group">
          <label for="username" class="pull-left medium">Username</label>
          <input type="text" formControlName="username" class="form-control" name="username" id="username"
            i18n-placeholder placeholder="Write the name for you article here.">
        </div>
        <div class="errorBox w-100" *ngIf="userForm.controls['username'].hasError('required') && userForm.controls['username'].touched">
          *username is required.
        </div>
        <div class="errorBox w-100" *ngIf="userForm.controls['username'].hasError('minlength') && userForm.controls['username'].touched">
          *Length must be more than 20.
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" style="float: left;">
              <input name="image" type="file" (change)="fileUpload($event)" i18n="File upload| File upload button in edit post">
            </div>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary pull-right" [disabled]="!userForm.valid" type="submit" i18n="Button | The publish button in create post page">Publish
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 tiker-plr" *ngIf="loggedIn === true">
    <p class="h5 lead text-muted text-center tiker-heading"><b><i class="fa fa-clock tiker-icon"> </i>
        Activities</b></p>
    <!-- <app-activity-tiker></app-activity-tiker> -->
    <p class="h5 lead text-muted text-center tiker-heading pt-0"><b><i class="fa fa-fire tiker-icon"> </i>
        Hot Topics</b></p>
    <!-- <app-hot-topics></app-hot-topics> -->
  </div>
</div>