<h5>Enter New Bus Details</h5>
<hr>

    <form [formGroup]="busForm" (ngSubmit)="addBus(busForm)">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Bus No</label>
            <div class="col-sm-9">
                <input type="text" formControlName="busno" class="form-control" placeholder="Bus No" name="bus_no">
            </div>
            <div class="errorBox pl-6 pr-6" *ngIf="busForm.controls['busno'].hasError('required')  && busForm.controls['busno'].touched">*Bus
                no required.
            </div>
            <div class="errorBox pl-6 pr-6" *ngIf="busForm.controls['busno'].hasError('pattern') && busForm.controls['busno'].touched">*Enter
                valid bus no/ busno can only be a number
            </div>
            <div class="errorBox pl-6 pr-6" *ngIf="busForm.controls['busno'].hasError('minlength') || busForm.controls['busno'].hasError('maxlength')  && busForm.controls['busno'].touched">
                *busno must be 4 chars only.
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Gps Device Id</label>
            <div class="col-sm-9">
                <input type="text" formControlName="gpsid" class="form-control" placeholder="Enter GPS id" name="gps_id">
            </div>
            <div class="errorBox pl-6 pr-6" *ngIf="busForm.controls['gpsid'].hasError('required')  && busForm.controls['gpsid'].touched">*GPS
                Id required.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" type="submit" [disabled]="!busForm.valid">Save</button>
        </div>
    </form>