<mat-card>
    <mat-card-title>
        Bus Inventory
 <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#exampleModalCenter">Add New Bus</button>

    </mat-card-title>
    <mat-card-content>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Bus Photo</th>
                        <th scope="col">Bus No</th>
                        <th scope="col">Driver Assigned</th>
                        <th scope="col">Driver's Phone</th>
                        <th scope="col">Coordinator Assigned</th>
                        <th scope="col">Coordinator Phone</th>
                        <th scope="col">Route Assigned</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let bus of buses; let i=index">
                          <th scope="row">{{i}}</th>
                          <td>Icon</td>
                          <td>{{ bus.bus_no }}</td>
                          <td>{{bus.driver.name}}</td>
                          <td>{{bus.driver.cell_no}}</td>
                          <td>{{bus.cordinator.name}}</td>
                          <td>{{bus.cordinator.cell_no}}</td>
                          <td>Assigned Route</td>
                          <td><button class="btn btn-primary" type="submit">Edit </button></td>
                        </tr>
                      </tbody>
            </table>


        </div>

    </mat-card-content>
</mat-card>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Add Bus</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="First name">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                              </div>
                            </div>
                          </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>