<mat-card>
  <mat-card-content>
    <mat-card-title>List of Users
      <button class="btn btn-success float-right" title="compose" (click)="openDialogmessage()"><img src="../../assets/imgs/baseline-add-24px.svg">Compose
        message
      </button>
    </mat-card-title>
    <hr>
    <div class="form-inline float-right">
      <input class="form-control mr-sm-2" [(ngModel)]="searchText" type="search" placeholder="Search Table" aria-label="Search">
    </div>

    <div class="form-inline mb-3">
      <!-- <label for="exampleFormControlSelect1">Show</label> -->
      Show <select class="custom-select" id="inputGroupSelect01">
        <option active>10</option>
        <option value="2">20</option>
        <option value="3">50</option>
        <option value="4">100</option>
      </select> entries
      <!-- <label for="exampleFormControlSelect1">entries</label> -->
    </div>
    <ul class="nav nav-tabs nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link {{students ==true ?'active':''}}" id="home-tab" (click)="showStudents()">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{drivers ==true ?'active':''}}" (click)="showDrivers()">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{cordinators ==true ?'active':''}}" (click)="showCordinators()">Coordinators</a>
      </li>
    </ul>

    <!-- <div class="tab-content"> -->

    <!------------------------------------------- Displays Students tab content ----------------------------------->

    <div *ngIf="students === true">
      <mat-accordion *ngFor="let user of (users | filter : 'name' : searchText); let i=index">
        <mat-expansion-panel class="panel-ex" *ngIf="user.level == 0">
          <mat-expansion-panel-header class="header-ex">
            <mat-panel-title>
              Enrollment Number: {{ user.username }}
            </mat-panel-title>
            <mat-panel-description>
              <!-- <p> # {{i}}</p> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="row">
              <div class="col"><img src="{{user.avatar}}" alt=""></div>
              <div class="col"> <label>Name: </label>
                <p>{{ user.name | uppercase }}</p> <br>
                <label>Department: </label>
                <p> {{ user.dept_code }}</p> <br>
                <label> Bus Number: </label>
                <p>{{ user.bus_no }}</p><br>
                <label>Course:</label>
                <p>{{user.course_code}}</p>
              </div>
              <div class="col"> <label> Phone Number: </label>
                <p>{{ user.cell_no }}</p> <br>

                <label> Level: </label>
                <p>{{ user.level }}</p><br>
                <label>Semester:</label>
                <p>{{user.semester_level}}</p>
                <label>Stop Number:</label>
                <p>{{user.stop_id}}</p>
              </div>

            </div>
          </div>
          <mat-action-row class="row-ex">
            <button title="Edit" (click)="openDialogstudent(user.username)" type="button" class="btn btn-light"><img
                src="../../assets/imgs/trashed.svg">Edit</button>
            <button data-toggle="modal" title="Delete record" data-target="#exampleModal" type="button" class="btn btn-light"><img
                src="../../assets/imgs/outline-restore_from_trash-24px.svg"> Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="form-inline">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- <div *ngIf="students === true" class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Course</th>
            <th scope="col">Semester</th>
            <th scope="col">Phone No</th>
            <th scope="col">Bus_no</th>
            <th scope="col">Stop_id</th>
            <th scope="col">Type of user</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of (users | filter : 'name' : searchText); let i=index">
          <tr *ngIf="user.level == 0">
            <th scope="row">{{i}}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.name | uppercase }}</td>
            <td>{{ user.dept_id }}</td>
            <td>{{ user.course_id }}</td>
            <td>{{ user.semester }}</td>
            <td>{{ user.cell_no }}</td>
            <td>{{ user.bus_no }}</td>
            <td>{{ user.stop_id }}</td>
            <td>{{ user.level }}</td>
            <td><button class="pr-2" title="Edit"><img src="../../assets/imgs/trashed.svg" (click)="openDialogstudent(user.username)">
              </button>
              <button type="button" data-toggle="modal" title="Delete record" data-target="#exampleModal"><img src="../../assets/imgs/outline-restore_from_trash-24px.svg">
              </button>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Course</th>
            <th scope="col">Semester</th>
            <th scope="col">Phone No</th>
            <th scope="col">Bus_no</th>
            <th scope="col">Stop_id</th>
            <th scope="col">Type of user</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
      </table>
      <div class="form-inline float-right">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div> -->
    <!------------------------------------------- Ends Students tab content ----------------------------------->
    <!------------------------------------------- Displays Drivers tab content ----------------------------------->

    <div *ngIf="drivers === true">
      <mat-accordion *ngFor="let user of (users | filter : 'name' : searchText); let i=index">
        <mat-expansion-panel class="panel-ex" *ngIf="user.level == 1">
          <mat-expansion-panel-header class="header-ex">
            <mat-panel-title>
              Employee ID: {{ user.username }}
            </mat-panel-title>
            <mat-panel-description>
              <!-- <p> # {{i}}</p> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="row">
              <div class="col"><img src="{{user.avatar}}" alt=""></div>
              <div class="col"> <label>Name: </label>
                <p>{{ user.name | uppercase }}</p> <br>
                <label>Department: </label>
                <p> {{ user.dept_code }}</p> <br>
                <label> Bus Number: </label>
                <p>{{ user.bus_no }}</p><br>
              </div>
              <div class="col"> <label> Phone Number: </label>
                <p>{{ user.cell_no }}</p> <br>

                <label> Level: </label>
                <p>{{ user.level }}</p><br>
              </div>

            </div>
          </div>
          <mat-action-row class="row-ex">
            <button title="Edit" (click)="openDialogdriver(user.username)" type="button" class="btn btn-light"><img src="../../assets/imgs/trashed.svg">Edit</button>
            <button data-toggle="modal" title="Delete record" data-target="#exampleModal" type="button" class="btn btn-light"><img
                src="../../assets/imgs/outline-restore_from_trash-24px.svg"> Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="form-inline">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <div *ngIf="drivers === true" class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Course</th> -->
    <!-- <th scope="col">Semester</th> -->
    <!-- <th scope="col">Phone No</th>
            <th scope="col">Bus_no</th> -->
    <!-- <th scope="col">Stop_id</th> -->
    <!-- <th scope="col">Type of user</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of (users | filter : 'name' : searchText); let i=index">
          <tr *ngIf="user.level == 1">
            <th scope="row">{{i}}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.name | uppercase }}</td>
            <td>{{ user.dept_id }}</td>
            <td>{{ user.course_id }}</td> -->
    <!-- <td>{{ user.semester }}</td> -->
    <!-- <td>{{ user.cell_no }}</td>
            <td>{{ user.bus_no }}</td> -->
    <!-- <td>{{ user.stop_id }}</td> -->
    <!-- <td>{{ user.level }}</td>
            <td><button class="pr-2" title="Edit"><img src="../../assets/imgs/trashed.svg" (click)="openDialogdriver(user.username)"></button>
              <button type="button" data-toggle="modal" title="Delete record" data-target="#exampleModal"><img src="../../assets/imgs/outline-restore_from_trash-24px.svg">
              </button>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Course</th> -->
    <!-- <th scope="col">Semester</th> -->
    <!-- <th scope="col">Phone No</th>
            <th scope="col">Bus_no</th> -->
    <!-- <th scope="col">Stop_id</th> -->
    <!-- <th scope="col">Type of user</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
      </table>
      <div class="form-inline float-right">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div> -->

    <!------------------------------------------- Displays Driverss tab content ----------------------------------->
    <!------------------------------------------- Displays Cordinatorss tab content ----------------------------------->
    <div *ngIf="cordinators === true">
      <mat-accordion *ngFor="let user of (users | filter : 'name' : searchText); let i=index">
        <mat-expansion-panel class="panel-ex" *ngIf="user.level == 2">
          <mat-expansion-panel-header class="header-ex">
            <mat-panel-title>
              Employee ID: {{ user.username }}
            </mat-panel-title>
            <mat-panel-description>
              <!-- <p> # {{i}}</p> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="row">
              <div class="col"><img src="{{user.avatar}}" alt=""></div>
              <div class="col"> <label>Name: </label>
                <p>{{ user.name | uppercase }}</p> <br>
                <label>Department: </label>
                <p> {{ user.dept_code }}</p> <br>
                <label> Stop Number: </label>
                <p>{{ user.stop_id }}</p><br>
              </div>
              <div class="col"> <label> Phone Number: </label>
                <p>{{ user.cell_no }}</p> <br>
                <label> Bus Number: </label>
                <p>{{ user.bus_no }}</p><br>
                <label> Level: </label>
                <p>{{ user.level }}</p><br>
              </div>

            </div>
          </div>
          <mat-action-row class="row-ex">
            <button title="Edit" (click)="openDialogCoord(user.username)" type="button" class="btn btn-light"><img src="../../assets/imgs/trashed.svg">Edit</button>
            <button data-toggle="modal" title="Delete record" data-target="#exampleModal" type="button" class="btn btn-light"><img
                src="../../assets/imgs/outline-restore_from_trash-24px.svg"> Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="form-inline">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
  </div>
</mat-card-content>
</mat-card>
<hr>
    
    <!-- <div *ngIf="cordinators === true" class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Course</th> -->
    <!-- <th scope="col">Semester</th>
            <th scope="col">Phone No</th>
            <th scope="col">Bus_no</th>
            <th scope="col">Stop_id</th>
            <th scope="col">Type of user</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of (users | filter : 'name' : searchText); let i=index">
          <tr *ngIf="user.level == 2">
            <th scope="row">{{i}}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.name | uppercase }}</td>
            <td>{{ user.dept_id }}</td>
            <td>{{ user.course_id }}</td> -->
    <!-- <td>{{ user.semester }}</td> -->
    <!-- <td>{{ user.phone_no }}</td>
            <td>{{ user.bus_no }}</td>
            <td>{{ user.stop_id }}</td>
            <td>{{ user.level }}</td>
            <td><button class="pr-2" title="Edit"><img src="../../assets/imgs/trashed.svg" (click)="openDialogCoord(user.username)"></button>
              <button type="button" data-toggle="modal" title="Delete record" data-target="#exampleModal"><img src="../../assets/imgs/outline-restore_from_trash-24px.svg">
              </button>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Course</th> -->
    <!-- <th scope="col">Semester</th> -->
    <!-- <th scope="col">Phone No</th>
            <th scope="col">Bus_no</th>
            <th scope="col">Stop_id</th>
            <th scope="col">Type of user</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
      </table> -->

    <!-- </div> -->

    <!------------------------------------------- Ends Cordinators tab content ----------------------------------->
    <!-- </div> -->
  

<!------------------------------ Modal for deleting a user record-------------------------------------->
<div class="form-inline float-right"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Are you sure?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete this record from the database
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Yes, I'm sure</button>
      </div>
    </div>
  </div>
</div>